<% link_to(c.url, class: "conf-card") do %>
  <%= image_tag c.image, class: "conf-card__image" %>
  <div class="conf-card__desc">
    <h3 class="conf-card__title"><%= c.title %></h3>
    <p class="conf-card__blurb"><%= c.blurb %></p>
  </div>
  <div class="conf-card__meta">
    <div class="conf-card__location"><%= c.location %></div>
    <div class="conf-card__dates">
      <!-- Check if it's one or multi-day conference, if one-day only show date once -->
      <% if c.end_date && c.end_date != c.start_date %>
        <!-- If the month is the same, only show it once ('May 14-15, 2018') -->
        <% if c.start_date.strftime('%B') == c.end_date.strftime('%B') %>
          <%= c.start_date.strftime('%B %e') %> - <%= c.end_date.strftime('%e, %Y') %>
        <% else %>
          <%= c.start_date.strftime('%B %e') %> - <%= c.end_date.strftime('%B %e, %Y') %>
        <% end %>
      <% else %>
        <%= c.start_date.strftime('%B %e, %Y') %>
      <% end %>
    </div>
    <div class="conf-card__price"><%= c.price %></div>
    <div class="conf-card__tags"><% c.tags.each do |tag| %>#<%= tag %> <% end %></div>
  </div>
<% end %>
