---
title: UX Confs
---

<h1>
  UX Confs
</h1>

<ul>
  <% data.conferences.each do |c| %>
    <li>
      <% link_to c.url do %>
        <h2><%= c.title %></h2>
        <p><%= c.blurb %></p>
      <% end %>
      <p><%= c.location %></p>
      <p><%= c.start_date %>-<%= c.end_date %></p>
      <p><%= c.price %></p>
    </li>
  <% end %>
</ul>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
